.container {
    border: 6px solid black;
    position: relative;
    width: 700px;
    height: 700px;
}

.first_block {
    background-color: red;
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: 1;
}

.second_block {
    background-color: #22ce00;
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: 3;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
}

.third_block {
    background-color: blue;
    height: 400px;
    width: 400px;
    position: absolute;
    z-index: 2;
    left: 300px;
    top: 300px;
}
